body{
    background-color: darkgoldenrod;
    margin: 0;
    padding: 0;
    text-align: left;
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;

    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 1fr 60px;
    gap: 10px;

    padding:10px;
    box-sizing: border-box;
}

/*waaarom deze?*/
.container div{
    padding: 10px;
    border:1px solid black;
}

.header{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: black;
    border-radius: 25px;
    font-size: 30px;
    

}

.intro{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: span 1;
    background-color: black;
    border-radius: 7%;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: black;
    border-radius: 25px;
}

