.body{
    background-color: darkgoldenrod;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}
.title{
    background-color: black;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;   
}

.intro{
    font-size: 18px;
    margin: 15px;
    color:green;
}
