body{
    background-color: goldenrod;
    margin: 0;
    padding: 0;
    text-align: left;
    color: white;
    line-height: 1.5;
   font-family: IBM Plex Mono, monospace;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: -1;
    background-color: black;
}


.container {
    width: 100%;
    min-height: 100vh;
    
    font-weight: bold;
    font-size: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;  
     grid-template-areas:
        "header header"
        "content content"
        "navigation navigation"
        "footer footer";
    grid-auto-rows: auto;
    gap: 16px;

    padding:10px;
    box-sizing: border-box;
}

.container div{
    padding: 20px;
    border:1px solid transparent; ;
}

.header{
    
    grid-area: header;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    color: goldenrod;
    font-size: clamp(30px, 6vw, 60px);   
    align-self: center;
    text-align: center;

}

.content {
    grid-area: content;
    grid-column-start: 1;
    grid-row-start: 2;
    font-size-adjust: 0.3; }

.navigation { 
    grid-area: navigation;
    grid-column-start: 1;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background-color: goldenrod;
    width: 20%;
    height: 120%;
    border-radius: 15px;

    
}

.footer {
     grid-area: footer;
     grid-column-start: 1;
     grid-row-start: 4;
     }


button{
    background-color: black;
    color: white;
    border-color:white;
    border-radius: 5px;
    width: 100px;   
    height: 50px;
    font-size: 16px;
    
}

button:hover{
    background-color: white;
    color: black;
    border-color:black;
    cursor: pointer;
}

.navigation button{
    background-color: black;
    color: white;
    border-color:white;
    border-radius: 15px;
    width: 100%;
    max-width: 300px;
    height: 80px;
    font-size: clamp(20px, 4vw, 40px);
}

.navigation button:hover{
    background-color: white;
    color: black;
    border-color:black;
    cursor: pointer;
}

@media (min-width: 768px) {

    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 1fr auto;
    }

    .header {
        grid-column: 1 / 2;
    }

    .navigation {
        justify-self: center;
    }

    .container div {
        padding: 50px;
    }
} 