.body{
    background-color: darkgoldenrod;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

.intro{
    font-size: 18px;
    margin: 15px;
    background-color: black;
}
