body{
    background-color: goldenrod;
    margin: 0;
    padding: 0;
    text-align: left;
    color: white;
    line-height: 1.5;
   font-family: IBM Plex Mono, monospace;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: -1;
    background-color: black;
}


.container {
    width: 100vw;
    height: 100vh;

    
    font-weight: bold;
    font-size: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 1fr 70px;
    gap: 10px;

    padding:10px;
    box-sizing: border-box;
}

/*waaarom deze?*/
.container div{
    padding: 50px;
    border:1px solid transparent; ;
}

.header{
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 25px;
    color: goldenrod;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
   
    font-size: 70px; 
   
}

.intro{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: span 1;
    border-radius: 25;
    align-items: left;
  
}

.footer{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    
    background-color: darkgoldenrod;
    border-radius: 25px;
   
    font-size: 20px; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
button{
    background-color: black;
    color: white;
    border-color:white;
    border-radius: 5px;
    width: 100px;   
    height: 40px;
    font-size: 16px;
    
    
}


