body{
    background-color: goldenrod;
    margin: 0;
    padding: 0;
    text-align: left;
    color: white;
    line-height: 1.5;
   font-family: IBM Plex Mono, monospace;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: -1;
    background-color: black;
}


.container {
    width: 100%;
    min-height: 100vh;
    
    font-weight: bold;
    font-size: 20px;

    display: grid;
    grid-template-columns: 1fr;  
     grid-template-areas:
        "header"
        "content"
        "navigation"
        "footer";
    grid-auto-rows: auto;
    gap: 16px;

    padding:10px;
    box-sizing: border-box;
}

.container div{
    padding: 20px;
    border:1px solid transparent; ;
}

.header{
    
    grid-area: header;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    color: goldenrod;
    font-size: clamp(30px, 6vw, 60px);   
    align-self: center;
    text-align: center;

}

.content {
    grid-area: content;
    font-size-adjust: 0.3; }

.navigation {
    grid-area: navigation;

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 320px;
    aspect-ratio: 1 / 1;   

    margin: 0 auto;       

    background-color: #b8870b85;
    border-radius: 20px;
    padding: 24px;
    backdrop-filter: blur(6px);
}

.footer {
       grid-area: footer;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;

     }


button{
    background-color: black;
    color: white;
    border-color:white;
    border-radius: 5px;
    width: 100px;   
    height: 50px;
    font-size: 16px;
    
}

button:hover{
    background-color: white;
    color: black;
    border-color:black;
    cursor: pointer;
}

.navigation button{
    background-color: black;
    color: white;
    border-color:white;
    border-radius: 15px;
    width: 100%;
    max-width: 300px;
    height: 80px;
    font-size: clamp(20px, 4vw, 40px);

}

.navigation button:hover{
    background-color: white;
    color: black;
    border-color:black;
    cursor: pointer;
}

@media(min-width: 768px) {

    .container {
        grid-template-columns: 3fr 1.2fr;
        grid-template-areas:
            "header header"
            "content navigation"
            "footer footer";  
            max-width: 1200px;
            margin: 0 auto;
    }
    .header{
        align-items: flex-start;
        text-align: left;
        font-size-adjust: 1;
    }

    .navigation{
        aspect-ratio: auto;
        width: 100%;
        max-width: 360px;
        padding: 32px 24px;
        height: auto;
    }

    .container div{
        padding: 50px;
    }
    .content{
        font-size-adjust: 0.5;
        gap: 20px;
        max-width: 65ch;
    }
}


