body{
    background-color: darkgoldenrod;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;

    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px, 1fr, 1fr, 100px;
    gap: 10px;

    padding:10px;
    box-sizing: border-box;
}

/*waaarom deze?*/
.container div{
    padding: 10px;
    border:1px solid black;
}